.main-container {
    margin: 0 10% 0 10%;
}

.sidebar {
    width:20%;
    display: inline-block;
}
.content {
    vertical-align: top;
    display: inline-block;
    border: 1px solid blue;
    width: 60%;
}
