.login-container {
    background-color: #CCC;
    div {
        text-align: left;
        width:100%;
        border: 1px solid #000;
        span {
            text-align: left;
        }
        input {
            margin-left: 20%;
        }
    }
}
